#Do not track following folders
tinyrenderer/Debug/tinyrenderer.tlog/

#Do not track compiled stuff
*.exe
*.ilk
*.pdb
*.obj
*.log

tinyrenderer.VC.db
tinyrenderer.VC.VC.opendb
tinyrenderer/tinyrenderer.vcxproj
tinyrenderer/tinyrenderer.vcxproj.filters
